<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
	<title>Toolkit</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <link rel="stylesheet" type="text/css" media="all"  
       th:href="@{/css/bootstrap.css}" />	
	<link th:href="@{/css/dashboard.css}"  rel="stylesheet" media="screen" />
    <!--  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css" /> -->
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/toolkit.js}"></script>

</head>
</html>